{% extends 'base.html' %}
{% block content %}

<h1>ADD post</h1> 
<!-- <div style="border:red solid 1px">我是DIV</div>
<div style="border:red solid 1px">我是DIV</div>
<p style="border:yellow solid 1px">我是P</p>
<p style="border:yellow solid 1px">我是P</p>
<span style="border:blue solid 1px">我是SPAN</span>
<span style="border:blue solid 1px">我是SPAN</span>
<section style="border:green solid 1px">我是SECTION</section>
<section style="border:green solid 1px">我是SECTION</section> -->

<form method="post">
    <br>
    {% csrf_token %}
    {{form.as_p}}
    <button>Save</button>


{% endblock %}