{% extends 'base.html' %}

{% block content %}

<h1 class="py-5 text-center container">凡走過必留下意見</h1>

<ul>
    {% for post in object_list %}
    <li><a href="{% url 'article-detail' post.pk %}">
        <strong>{{post.title}}</strong></a>
        留言者 : {{post.author}} 發表意見於
        {{post.post_date}}
          {% if user.is_authenticated %}   
            {% if user.id == post.author.id %} 
              <small>
              <a href="{% url 'update_post' post.pk %}">(edit)</a>
              <a href="{% url 'delete_post' post.pk %}">(Delete)</a>
              </small>
            {% endif %}
            {% endif %}
            <br>
            {{post.body|slice:":100"}}
          
    {% endfor %}    

    </li>
    <br>
    <br>
  <ol>
    <li class="lead text-muted">訪客可用 ID: user101 key:abc123use 取的留言權限或自行註冊帳號</li>
    <li class="lead text-muted">留言內容觀看/新增／修改／刪除需登入帳號</li>
    <li class="lead text-muted">左上bar的"世界新聞"連結美國的新聞api</li>
    <li class="lead text-muted">世界新聞網頁採用mediastack提供api有限數量連結限制若沒有顯示資料代表站長額度用完</li>
  </ol>
</ul>
{% endblock %}


